.orange{
    color:rgb(251, 0, 134);
}
body{
    font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 250%;
}
section{
    display: flex;
}
.half-width{
    width:50%;
    padding-left: 10%;
}
.half-width img{
    width:80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(pink,hotpink);
    padding: 10px 20px;
    border-radius: 10%;

}
.link-button2{
    text-decoration: none;
    background-image: linear-gradient(aqua,blue);
    padding:10px 20px;
    border-radius: 10%;
}
.top-bener{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    margin: 0%;
}
.top-bener2{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    margin: 0%;
}
.title{
    text-align: center;
}
.tasnim{
    text-align: center;
    width: 50%;
}
    
